.about-us{
    margin-left: 8rem;
    background-color: var(--black-2);
    min-height: 100vh;
}

.about-us-wrapper{
    width: var(--width-container-lg);
    display: flex;
    margin: 0 auto;
}

.about-us-content{
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 2.5rem;
}

.about-us-heading{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--white-2);
    text-wrap: balance;
    text-align: center;
    margin-bottom: 2rem;
}

.small-underline{
    width: 9rem;
    height: .1rem;
    margin: 0 auto 1rem auto;
    background-color: var(--secondary-color);

}

.big-underline{
    width: 20rem;
    height: .1rem;
    margin: 0 auto 2rem auto;
    background-color: var(--secondary-color);
}

.sub-heading{
    font-size: 3rem;
    text-wrap: balance;
    font-weight: 300;
    letter-spacing: .2rem;
    color: var(--secondary-color);
    margin: 2rem 0 3rem 0;
}

.about-us-paragraph{
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    margin-bottom: 5rem;
    color: var(--white-3);
}

.about-us-btn{
    width: 15rem;
    padding: 0.7rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--secondary-color);
    background-color: var(--white-4);
    border: .1rem solid var(--secondary-color); 
    outline: none;
    cursor: pointer;
}

.about-us-btn svg{
    transition: 0.3s ease-in-out;
}

.about-us-btn:hover svg{
    /* transform: translateX(0.5rem); */
    margin-left: 0.5rem;
}

.about-us-btn svg{
    display: flex;
}

.about-us-images{
    flex: 1 1 50%;
    padding-inline: 2.5rem;
    position: relative;
}

.image{
    width: 30rem;
    height: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 3rem 6rem rgba(255, 255, 255, 0.4);
    border-radius: .4rem;
    border: .2rem solid var(--secondary-color);
}
.image-1{
    transform: translate(-20%, -90%);
}

.image-2{
    transform: translate(-70%, -70%);
}

.image-3{
    transform: translate(-50%, -50%);
}

.image-4{
    transform: translate(-30%, -30%);
}



