.header{
    margin-left: 8rem;
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url('../../assets/header-1.jpeg') center no-repeat;
    background-size: cover;
}

.brand{
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 2rem;

}

.brand svg{
    font-size: 7.5rem;
    color: var(--primary-nav);
    margin-left: 2rem;
    margin-top: 1rem;
}

.hotel-heading{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.7rem;
    font-weight: 400;
    color: var(--primary-nav);
    letter-spacing: .2rem;
}

.banner{
    color: var(--white-4);
    height: 65rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    /* background-color: red; */
}

.banner-heading{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 7rem;
    font-weight: 400;
    animation: anim 2s ;
    text-align: center;

}

.banner-paragraph{
    font-size: 3.5rem;
    font-weight: 300;
    animation: anim 1.5s .5s backwards;
    text-wrap: balance;
    text-align: center;
    /* margin-inline: 2rem; */
}

.banner-button{
    width: 21rem;
    padding: 1.2rem 2rem;
    font-size: 2rem;
    color: var(--white-6);
    letter-spacing: .1rem;
    border: none;
    border-radius: 10rem;
    outline: none;
    background: linear-gradient(to right, gold, goldenrod);
    cursor: pointer;
    animation: anim 1s 1s backwards;
}

.banner-button:hover{
    background: linear-gradient(to left, gold, goldenrod);
}

.banner-button:active{
    transform: translateY(.2rem);
}

@keyframes anim{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@media screen and (max-width: 1300px){
    .banner{
        height: 55rem;
        gap: 1.8rem;
    }
    .hotel-heading{
        font-size: 2.5rem;
    }
    .banner-heading{
        font-size: 6rem;
    }
    .banner-paragraph{
        font-size: 3rem;
    }
    .banner-button{
        width: 18rem;
        padding: 1.1rem 1.8rem;
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 1000px){
    
    .banner-heading{
        font-size: 5rem;
    }
    .banner-paragraph{
        font-size: 2.5rem;
    }
    .banner-button{
        width: 16rem;
        padding: 1rem 1.6rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 750px){
    .banner-heading{
        font-size: 4rem;
    }
    .banner-paragraph{
        font-size: 2rem;
    }
    .banner-button{
        width: 14rem;
        padding: .9rem 1.4rem;
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 650px){
    .banner-heading{
        font-size: 3.5rem;
    }
    .banner-paragraph{
        font-size: 1.8rem;
    }
    .banner-button{
        width: 12rem;
        padding: .8rem 1.2rem;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 500px){
    .banner-heading{
        font-size: 3rem;
    }
    .banner-paragraph{
        font-size: 1.5rem;
    }
    .banner-button{
        width: 12rem;
        padding: .7rem 1.2rem;
        font-size: 1rem;
    }
}

@media screen and (max-height: 900px){
    .banner{
        height: 70rem;
    }
}

@media screen and (max-height: 800px){
    .banner{
        height: 60rem;
    }
}

@media screen and (max-height: 700px){
    .banner{
        height: 55rem;
    }
}

@media screen and (max-height: 600px){
    .banner{
        height: 50rem;
    }
}

@media screen and (max-height: 500px){
    .banner{
        height: 45rem;
    }
}

@media screen and (max-height: 400px){
    .banner{
        height: calc(100vh - 88px);
    }
}

@media screen and (max-height: 300px){
    .banner{
        height: calc(100vh - 88px);
        justify-content: flex-start;
        padding-top: 2rem;
    }
}


