.navigation-wrapper{
    margin-left: 8rem;
    position: fixed;
    width: 40rem;
    height: 100%;
    padding: 2rem;
    background: linear-gradient(to top, rgba(34, 32, 41, 1), rgba(34, 32, 41, .8)), url('../../assets/nav-bg.jpeg') center no-repeat;
    background-size: cover;
}

.navigation{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navigation-search{
    position: relative;
}

.navigation-heading{
    font-size: 'Josefin Sans', sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    color: var(--primary-nav);
    text-align: center;
    margin-bottom: 1rem;
}

.navigation-search-input{
    width: 30rem;
    padding: 1rem 2rem;
    padding-right: 3rem;
    background-color: rgba(0, 0, 0, .3);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    color: var(--primary-nav);
    letter-spacing: 0.1rem;
    outline: none;
    border: .1rem solid var(--white-3);
    border-radius: 10rem;
    transition: var(--transition);
}

.navigation-search-input:focus{
    background-color: rgba(0, 0, 0, .1);
}

.navigation-search-btn{
    border: none;
    background-color: transparent;
    color: var(--primary-nav);
    font-size: 1.7rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    cursor: pointer;
}

.navigation-search-btn:focus{
    outline: none;
}


