@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --transition: .3s ease-in-out;
  --white-1: hsl(0, 5%, 100%);
  --white-2: hsl(0, 5%, 92%);
  --white-3: hsl(0, 5%, 82%);
  --white-4: hsl(0, 5%, 72%);
  --white-5: hsl(0, 5%, 50%);
  --white-6: hsl(0, 5%, 38%);
  --black-1: hsl(0, 5%, 12%);
  --black-2: hsl(0, 5%, 20%); 
  --black-3: hsl(0, 5%, 28%);
  --primary-nav: hsla(35, 88%, 42%, .8);
  --secondary-color: hsla(15, 88%, 42%);

  --width-container-lg: 85%;
  --width-container-sm: 95%;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html{
  scroll-behavior: smooth;
  font-size: 62.5%;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  transition: var(--transition);
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

section{
  padding: 10rem 0;
  
}

/* card */
.card{
  background-color: var(--white-3);
  border: 2px solid transparent;
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 0 3rem 0 3rem;
  transition: all 0.3s ease-in-out;
}

.card:hover{
  background-color: transparent;
  border-color: var(--white-3);
  cursor: default;
}

.card small{
  margin-top: 1rem;
  display: block;
  font-weight: 300;
}

